* {
    margin: 0;
    padding: 0;
}

.top{
    position: relative;
    height: 800px;
    background-color: rgb(225, 255, 143);
    background-image: url(img2/Group\ stars.png);
    background-repeat: no-repeat;
    background-position: calc(100% + 500px) calc(0% - 400px);
    font-family: Montserrat;
}

.content{
    width: 769px;
    height: 358px;
    padding-top: 196px; 
    padding-left: 120px;


    &__title{
    color: rgb(32, 32, 39);
    font-size: 64px;
    font-weight: 700;
    line-height: 78px; 
    padding-bottom: 24px;
}

    &__text{
    color: rgb(32, 32, 39);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 48px;
}

    &__btn{
    width: 247px;
    height: 66px;
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
}
    &__btn:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(32, 32, 39);
}
}

.games_stars{
    position: absolute;
}

.games__img_stars{
    position: absolute;
    width: 749.55px;
    height: 791.06px;
    left: 9908px;
    top: -2278.29px;
    transform: rotate(108.45deg);
    z-index: 1;
}

.games-box{
    height: 1550px;
    font-family: Montserrat;
    background-color: rgb(32, 32, 39);
    background-image: url(img2/Group\ stars2.png);
    background-repeat: no-repeat;
    
}

.games__heading{
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    padding-top: 97px;
    
}

.games-conteiner{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.games{
    width: 378px;
    height: 473px;
    border-radius: 30px;
    box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
    background: rgb(255, 255, 255);

    &__file{
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 32px;
    }
    
    &__big{
        width: 378px;
        height: 551px;
    }
    
    &__img{
        width: 378px;
        height: 314px;
    }
    
    &__text{
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        padding-top: 24px;
        padding-bottom: 62px;
    }
    
    &__number{
        width: 108px;
        text-align: center;
        color: rgb(32, 32, 39);
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 110%;
        border: none;
        padding: 8px 16px 10px 16px;
        border-radius: 52.58px;
        background: rgb(247, 247, 247);
       
    }
    
    &__name{
        color: rgb(32, 32, 39);
        font-family: Montserrat;
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
    }

}

.games-content{
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 32px;
}

